@mixin mtp-section-display($mtp-colors) {
    .mtp-display {
        width: 100%;
        height: 80px;
        line-height: 80px;
        background-color: map-get($mtp-colors, primary);
        color: map-get($mtp-colors, text);
        text-align: center;
        font-size: 45px;
    }
    .mtp-display__hours, .mtp-display__minutes {
        font-size: 45px;
        padding: 0;
        margin: 0;
    }
    .mtp-display__meridiem {
        font-size: 20px;
        text-transform: uppercase;
    }
}
