@mixin mtp-section-display($mtp-colors) {
    .mtp-display {
        align-items: center;
        background-color: map-get($mtp-colors, primary);
        color: map-get($mtp-colors, text);
        display: flex;
        flex-direction: row;
        font-size: 0;
        height: 80px;
        justify-content: center;
        line-height: 80px;
        text-align: center;
        width: 100%;

        .mtp-time-group {
            line-height: 57px;
            height: 57px;

            .mtp-display__hours,
            .mtp-display__minutes,
            .mtp-display__spacer,
            .mtp-display__separator {
                font-size: 45px;
                padding: 0;
                margin: 0;
            }

            .hour-group,
            .minute-group {
                opacity: 0.55;

                &.active-group {
                    opacity: 1;
                }
            }
        }

        .mtp-meridiem {
            display: flex;
            flex-direction: column;
            font-size: 0;
            height: 48px;
            margin: 0 0 0 16px;

            span {
                cursor: pointer;
                font-size: 16px;
                line-height: 24px;
                margin: 0;
                opacity: 0.55;
                padding: 0;
                text-transform: none;

                &:hover:not(.mtp-meridiem--active) {
                    background: none;
                    color: inherit;
                    opacity: 0.8;
                }

                &.mtp-meridiem--active {
                    cursor: default;
                    opacity: 1;

                    &:hover {
                        background: none;
                        color: inherit;
                        cursor: default;
                    }
                }
            }
        }
    }
}
