@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$font-family-sans-serif: 'Roboto', sans-serif;

// colors
$mpt-example-colors: (
    primary-dark: #388E3C,
    primary: #4CAF50,
    primary-light: #C8E6C9,
    text: #FFFFFF,
    accent: #9E9E9E,
    primary-text: #212121,
    secondary-text: #727272,
    divider: #B6B6B6,
    clock-face: #EFEFEF,
    wrapper-background: #FFF,
    background: #FFF
);
